#williamtriker {
font-size: 1.2em;
}

.ninetieswererad {
	background-color: darkgoldenrod;
}

.martin {
	color: #ffffff;
}

.loosygoosy{
	color: #000000;
}
.threestars {
	font-family: "Bookman Old Style",sans-serif;
}
.yeezy {
	font-size: larger;
	background-color: darkred;
}
